<footer>
    <div class="contact" id="contact">
        <div id="parent">
            <div id="child1">
                <div class="contact_title">静岡キャンパス</div>
                <div class="contact_content">
                    メール<br>
                    shizuorche.koho (at) gmail.com<br><br>
                    Twitter<br>
                    <a href="https://www.twitter.com/shizuorche">@shizuorche</a><br><br>
                    活動場所<br>
                    <a href="https://goo.gl/maps/1WEqTgLVmrvt8oDr8">
                    音楽練習室<br>
                    (静岡大学静岡キャンパス内)
                    </a>
                </div>
            </div>
            <div id="child2">
                <div class="contact_title">浜松キャンパス</div>
                <div class="contact_content">
                    メール<br>
                    shizuorche.hamamatsu (at) gmail.com<br><br>
                    Twitter<br>
                    <a href="https://www.twitter.com/hama_kann">@hama_kann</a><br><br>
                    活動場所<br>
                    <a href="https://goo.gl/maps/RXo5b3DjkN7VfNUm7">
                    練習室3<br>
                    (静岡大学浜松キャンパス内/課外活動共用施設2階)
                    </a>
                </div>
            </div>
        </div>
        <div id="parent">
                <div id="child1">
                    <div class="contact_content">
                        <a href="{{ .Site.BaseURL }}/tags">記事のタグ一覧</a>
                    </div>
                </div>
                <div id="child2">
                    <div class="contact_content">
                        <a href="{{ .Site.BaseURL }}/categories" class="contact_content">記事のカテゴリ一覧</a>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="footer_text">
        (C)2023 - 2024 静岡大学管弦楽団, All rights reserved.
    </div>
</footer>

</body>
</html>